<!DOCTYPE html>
    <html lang="fr">
        <head>
            <meta charset="UTF-8">
            <title><%= locals.title %> - <%= locals.pageTitle %></title>
            <link rel="stylesheet" href="./css/reset.css">
            <link rel="stylesheet" href="./css/style.css">
            <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        </head>
