<%- include("./head.ejs") %>

<body>
    <div class="contenu">
        <header class="en-tete">
            <nav class="nav">
                <ul class="nav-lists">
                    <li class="nav-list">
                        <a href="/">
                            <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                            <span class="text">Acceuil</span>
                        </a>
                    </li>
                    <li class="nav-list">
                        <a href="#">
                            <span class="icon"><ion-icon name="pause-circle-outline"></ion-icon></span>
                            <span class="text">002</span>
                        </a>
                    </li>
                    <li class="nav-list">
                        <a href="#">
                            <span class="icon"><ion-icon name="pause-circle-outline"></ion-icon></span>
                            <span class="text">003</span>
                        </a>
                    </li>
                    <li class="nav-list active">
                        <a href="/jeux">
                            <span class="icon"><ion-icon name="game-controller-outline"></ion-icon></span>
                            <span class="text">Jeux</span>
                        </a>
                    </li>
                    <li class="nav-list">
                        <a href="/CV">
                            <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
                            <span class="text">CV</span>
                        </a>
                    </li>
                    <div class="indicator"></div>
                </ul>
            </nav>
            <script src="./js/Nav.js"></script>
        </header>

        
        <main class="principale">
            <div class="container">
                <div class="contain">

