<%- include("partials/header.ejs") %>

<link rel="stylesheet" href="./css/Accueil_des_jeux.css">

<ul class="liste-jeux">
    <li class="li-1"><a href="../../Jeux/Calcule mentale/Accueil.html">Calcule mentale</a></li>
    <li class="li-2"><a href="../../Jeux/Carré rouge/HTML/Accueil.html">Carré rouge</a></li>
    <li class="li-3"><a href="../../Jeux/Casse briques/HTML/Casse_Briques.html">Casse briques</a></li>
    <li class="li-4"><a href="../../Jeux/Le pendu/Moi/V2/HTML/Accueil.html">Le Pendu</a></li>
    <li class="li-5"><a href="../Jeux/L'entarteur/Accueil.html">L'entarteur</a></li>
    <li class="li-6"><a href="../../Jeux/Pong/HTML/Accueil.html">Pong</a></li>
    <li class="li-7"><a href="/jeux/rapidClick">Rapid'click</a></li>
    <li class="li-8"><a href="../Jeux/Scrabble/Ex 1/scrabble/index.html">Scrabble</a></li>
    <li class="li-9"><a href="../../Jeux/ShiFuMi/Moi/HTML/ShiFuMi.html">ShiFuMi</a></li>
    <li class="li-10"><a href="../../Jeux/Snake/HTML/Accueil.html">Snake</a></li>
</ul>

<%- include("partials/footer.ejs") %>