<%- include("partials/header.ejs") %>

<link rel="stylesheet" href="/css/Accueil_des_jeux.css">

<ul class="liste-jeux">
    <li class="li-1"><a href="/jeux/en_construction">Calcule mentale</a></li>
    <li class="li-2"><a href="/jeux/en_construction">Carré rouge</a></li>
    <li class="li-3"><a href="/jeux/en_construction">Casse briques</a></li>
    <li class="li-4"><a href="/jeux/en_construction">Le Pendu</a></li>
    <li class="li-5"><a href="/jeux/en_construction">L'entarteur</a></li>
    <li class="li-6"><a href="/jeux/en_construction">Pong</a></li>
    <li class="li-7"><a href="/jeux/rapidClick">Rapid'click</a></li>
    <li class="li-8"><a href="/jeux/en_construction">Scrabble</a></li>
    <li class="li-9"><a href="/jeux/en_construction">ShiFuMi</a></li>
    <li class="li-10"><a href="/jeux/en_construction">Snake</a></li>
</ul>

<%- include("partials/footer.ejs") %>