<div class="container">
    <h1 class="title"><span>Rapid' Click</span><p>Cliquez sur le "carré" "rond" "triangle" avant qu'il ne disparaisse</p></h1>

    <div class="main">
        <div id="jeu">
            <span id="bloc"></span>
            <span id="rond"></span>
            <span id="triangle"></span>
            <span id="black"></span>
        </div>
    </div>

</div>
<script src="/js/RapidClick.js"></script>