.container {
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 5rem;
}

.title span {
    font-size: 5rem;
    font-weight: bold;
}

.title p {
    font-size: 2rem;
}

.main {
    border: 1px solid red;
}

#jeu {
    position: relative;
    width: 70rem;
    height: 65rem;
    border: 1px solid red;
}

#bloc {
    position: absolute;
    background-color: rgb(0, 0, 153);
    visibility: hidden;
}

#rond {
    position: absolute;
    border-radius: 50%;
    background-color: rgb(175, 0, 0);
    visibility: hidden;
}

#triangle {
    position: absolute;
    border-style: solid;
    border-color: transparent transparent transparent green;
    visibility: hidden;
}

#black {
    position: absolute;
    background-color: rgb(0, 0, 0);
    visibility: hidden;
}
