            
                    </div>
                </div>
            </main>

            <footer class="pied-de-page">
                <div class="footer-items">
                    <a class="copyright" href="">© Copyright 2022</a>
                </div>
            </footer>
        </div>
    </body>
</html>
