<%- include("./head.ejs") %>

<body>
    <div class="contenu">
        <header class="en-tete">
            <nav class="nav">
                <ul class="nav-lists">
                    <li class="nav-list">
                        <a href="/">
                            <span class="icon"><img src="/images/home.svg" alt="page d'acceuil du site" /></span>
                            <span class="text">Acceuil</span>
                        </a>
                    </li>
                    <li class="nav-list">
                        <a href="#">
                            <span class="icon"><img src="/images/pause.svg" alt="en attente" /></span>
                            <span class="text">002</span>
                        </a>
                    </li>
                    <li class="nav-list">
                        <a href="#">
                            <span class="icon"><img src="/images/pause.svg" alt="en attente" /></span>
                            <span class="text">003</span>
                        </a>
                    </li>
                    <li class="nav-list active">
                        <a href="/jeux">
                            <span class="icon"><img src="/images/game.svg" alt="accueil des jeux" /></span>
                            <span class="text">Jeux</span>
                        </a>
                    </li>
                    <li class="nav-list">
                        <a href="/CV">
                            <span class="icon"><img src="/images/people.svg" alt="mon CV" /></span>
                            <span class="text">CV</span>
                        </a>
                    </li>
                    <div class="indicator"></div>
                </ul>
            </nav>
            <script src="/js/Nav.js"></script>
        </header>

        
        <main class="principale">
            <div class="containeur">
                <div class="contain">

