<%- include("partials/header.ejs") %>

<link rel="stylesheet" href="/css/Accueil_des_jeux.css">

<ul class="liste-jeux">
    <li class="li-1"><a href="/jeux/CalculeMentale">Calcule mentale</a></li>
    <li class="li-2"><a href="/jeux/CarreRouge">Carré rouge</a></li>
    <li class="li-3"><a href="/jeux/CasseBrique">Casse briques</a></li>
    <li class="li-4"><a href="/jeux/LePendu">Le Pendu</a></li>
    <li class="li-5"><a href="/jeux/Lentarteur">L'entarteur</a></li>
    <li class="li-6"><a href="/jeux/Pong">Pong</a></li>
    <li class="li-7"><a href="/jeux/RapidClick">Rapid'click</a></li>
    <li class="li-8"><a href="/jeux/Scrabble">Scrabble</a></li>
    <li class="li-9"><a href="/jeux/ShiFuMi">ShiFuMi</a></li>
    <li class="li-10"><a href="/jeux/Snake">Snake</a></li>
</ul>

<%- include("partials/footer.ejs") %>