<%- include("partials/header.ejs")%>

<main class="main-CV">
  <nav class="nav-CV">
    <a href="#">
      <img src="/images/Photo_de_profil.jpg" alt="photo de profil" class="photo-de-profil">
    </a>
    <div class="cv-info">
      <ul class="cv-info-lists">
        <li class="cv-info-list">
          <a href="#" class="cv-info-click">
            <ion-icon class="cv-info-icon" name="person-outline"></ion-icon>
            <span class="cv-info-name">Nom - Prénom</span>
          </a>
          <a>
            <span class="cv-info-text">THOMMERET - Mickaël</span>
          </a>
        </li>
        <li class="cv-info-list">
          <a href="#" class="cv-info-click">
            <ion-icon class="cv-info-icon" name="location-outline"></ion-icon>
            <span class="cv-info-name">Adresse</span>
            <span class="cv-info-text">64, rue de la barrière Saint Marc. 45000. Orléans</span>
          </a>
        </li>
        <li class="cv-info-list">
          <a href="#" class="cv-info-click">
            <ion-icon class="cv-info-icon" name="call-outline"></ion-icon>
            <span class="cv-info-name">Téléphone</span>
            <span class="cv-info-text">06.45.36.79.09</span>
          </a>
        </li>
        <li class="cv-info-list">
          <a href="#" class="cv-info-click">
            <ion-icon class="cv-info-icon" name="mail-open-outline"></ion-icon>
            <span class="cv-info-name">Email</span>
            <span class="cv-info-text">thommeretmickael@gmail.com</span>
          </a>
        </li>
        <li class="cv-info-list">
          <a href="#" class="cv-info-click">
            <ion-icon class="cv-info-icon" name="bulb-outline"></ion-icon>
            <span class="cv-info-name">Anniversiare</span>
            <span class="cv-info-text">15.06.1987</span>
          </a>
        </li>
        <li class="cv-info-list">
          <a href="#" class="cv-info-click">
            <ion-icon class="cv-info-icon" name="car-sport-outline"></ion-icon>
            <span class="cv-info-name">Permis</span>
            <span class="cv-info-text">A : 2010, B : 2006</span>
          </a>
        </li>
        <li class="cv-info-list">
          <a href="https://www.linkedin.com/in/Mickael-T" class="cv-info-click" target="_blank">
            <ion-icon class="cv-info-icon" name="logo-linkedin"></ion-icon>
            <span class="cv-info-name">LinkedIn</span>
            <span class="cv-info-text">Mickaël Thommeret</span>
          </a>
        </li>
        <li class="cv-info-list">
          <a href="https://github.com/Nounours-1337" class="cv-info-click" target="_blank">
            <ion-icon class="cv-info-icon" name="logo-github"></ion-icon>
            <span class="cv-info-name">GitHub</span>
            <span class="cv-info-text">Mickaël Thommeret</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <section>
    <p>Contenu</p>
  </section>
</main>

<%- include("partials/footer.ejs")%> 