<%- include("partials/header.ejs")%>

<main>
  <nav class="nav-CV">
    <a href="#">
      <img src="" alt="photo de profil">
    </a>
    <div>
      <h2>INFORMATIONS</h2>
        <span></span>
        <h3>Nom</h3>
        <p>THOMMERET</p>
        <span></span>
        <h3>Prénom</h3>
        <p>Mickaël</p>
        <span></span>
        <h3>Adresse</h3>
        <p>64, rue de la barrière Saint Marc. 45000. Orléans</p>
        <span></span>
        <h3>Téléphone</h3>
        <p>06.45.36.79.09</p>
        <span></span>
        <h3>E-mail</h3>
        <p>thommeretmickael@gmail.com</p>
        <span></span>
        <h3>Anniversaire</h3>
        <p>15.06.1987</p>
        <span></span>
        <h3>Permis de conduire</h3>
        <p>A : 2010, B : 2006</p>
        <span></span>
        <h3>LinkedIn</h3>
        <a href="www.linkedin.com/in/Mickael-T">
          <p>Mickaël Thommeret</p>
        </a>
        <span></span>
        <h3>GitHub</h3>
        <a href="https://github.com/Nounours-1337">
          <p>GitHub</p>
        </a>
    </div>
  </nav>

  <section>

  </section>
</main>

<%- include("partials/footer.ejs")%> 